.root {
    margin: 0 auto;
    padding: 2.3em 3em 2em;
    text-align: center;
    display: flex;
    flex-direction: column;
    border: 25px solid #615047;
    border-radius: 30px;
    width: 100vw;
    min-height: 100vh;
    justify-content: center;
    background-color: var(--primary);
    align-content: center;
    color: #615047;
    text-shadow: 3px 3px 2px rgba(0, 0, 0, 0), 3px 3px 2px rgba(0, 0, 0, 0);
    font-family: Georgia, serif;
    font-size: 20px;
}

.title {
    font: var(--large-font);
    color: #615047;
    font-family: Georgia, serif;
    box-shadow: 0 0 black;
    text-decoration-color: #615047;
    text-align: center;
    font-weight: 700;
    font-variant: normal;
    font-stretch: normal;
    text-shadow: 6.95px 7.19px 2px var(--white);
}

.paragraph {
    font-size: 12px;
    margin-top: 80px;
    gap: 3px;
    justify-content: center;
    font: var(--paragraph-font);
    color: var(--black);
}

.detail {
    font: var(--small-font);
}
