.img1 {
    width: 50%;
    align-content: start;
    position: static;
    left: 150px;
    align-self: center;
}
.nav1 {
    height: 50px;
    background-color: white;
    background-image: none;
    background-position: 0% 0%;
    background-size: auto;
    background-repeat: repeat;
    background-attachment: scroll;
    background-origin: padding-box;
    background-clip: border-box;
}
