.nav1 {
    height: 50px;
    background-color: w;
    background-image: none;
    background-position: 0% 0%;
    background-size: auto;
    background-repeat: repeat;
    background-attachment: scroll;
    background-origin: padding-box;
    background-clip: border-box;
    border: 0px solid black;
    border-radius: 66px;
    position: static;
    align-content: center;
}

.a1 {
    font-family: Georgia, serif;
    color: var(--white);
    font-size: 25px;
    background-color: #615047;
    border-radius: 6px;
    padding: 7px;
}

.a2 {
    font-family: Georgia, serif;
    color: var(--white);
    font-size: 25px;
    background-color: #615047;
    border-radius: 6px;
    padding: 7px;
}

.a3 {
    font-family: Georgia, serif;
    color: var(--white);
    background-color: #615047;
    font-size: 25px;
    border-radius: 6px;
    padding: 7px;
}

.a4 {
    font-family: Georgia, serif;
    background-color: #615047;
    font-size: 25px;
    color: var(--white);
    border: 0px solid black;
    border-radius: 6px;
    padding: 7px;
}

.p1 {
    font-size: 25px;
    font-family: Georgia, serif;
}
.header1 {
    font-family: Georgia, serif;
}
.div1 {
    font-family: Georgia, serif;
}
.strong1 {
    font-family: Georgia, serif;
}
.div2 {
    font-family: Georgia, serif;
}
.img1 {
    align-content: space-between;
    max-width: 40%;
    position: static;
}
.header2 {
    margin: 50px;
}
.header3 {
    margin: 90px;
}
.p2 {
    margin: 110px;
}
.strong2 {
    margin: 120px;
}
.div3 {
    margin: 90px;
}
.div4 {
    margin: 200px;
}
.header4 {
    margin: 50px;
}
.p3 {
    margin: 100px;
}
.img2 {
    display: inline-block;
}
.img3 {
    display: none;
}
.img4 {
    max-width: 20%;
    align-content: center;
}
.p4 {
    margin: 50px;
}
.p5 {
    margin: 50px;
}
.p6 {
    margin: 50px;
}
.img5 {
    display: inline;
    max-width: 60%;
}
