.header1 {
    text-align: center;
    font-family: Lucida Console, monospace;
    font-size: 63px;
}
.button1 {
    background-color: var(--primary);
    font-family: Times New Roman, serif;
    font-weight: 900;
    font-variant: diagonal-fractions;
    text-align: center;
    font-size: 25px;
    border-radius: 13px;
    border: 5px solid #27a12b;
}
.div1 {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(180deg, #86bb87 0%, rgba(255, 255, 255, 0) 100%);
    background-color: transparent;
    background-position: 0% 0%;
    background-size: auto;
    background-repeat: repeat;
    background-attachment: scroll;
    background-origin: padding-box;
    background-clip: border-box;
}
