.heroImage {
    display: flex;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex-direction: row;
    background-color: white;

    @media (width <= 768px) {
        flex-direction: column;
    }
}

.heroImageImg {
    object-fit: cover;
    width: 50%;
    border: 0px solid #615047;
    border-radius: 0px;

    @media (width <= 768px) {
        width: 100%;
    }
}

.heroImageContentBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    background-color: #d3d6d1;
    padding: 30px;
    border: 1px solid;
    border-radius: 0px;
}

.heroImageTitle {
    font-size: 68px;

    @media (width <= 1024px) {
        font-size: 52px;
        border-radius: 22px;
        font-family: Bradley Hand, cursive;
        color: #615047;
    }
}

.heroImageDescription {
    font-size: 24px;
    text-wrap: pretty;
    font-family: Arial Black, sans-serif;
    color: #615047;
}

.heroImageExploreButton {
    padding: 16px 24px;
    background-color: black;
    border-radius: 28px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease-out;
    align-self: flex-start;
    color: white;
    @media (width <= 1024px) {
        font-size: 16px;
        background-color: #615047;
    }
}

.heroImageExploreButton:hover {
    background-color: #848484;
}
.heroTitle {
    min-height: 100vh;
    padding: 60px;
    background: linear-gradient(292deg, #e1e2ff 0%, #ddebff 49%, #e3fbf9 98%);
    align-content: center;
}

.heroTitleHeading {
    margin-bottom: 32px;
    font-size: 120px;
    font-weight: 700;
    text-align: center;

    @media (width < 768px) {
        font-size: 70px;
    }
    @media (width < 480px) {
        font-size: 40px;
    }
}

.heroTitleButtons {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    @media (width < 768px) {
        align-content: center;
        flex-direction: column;
    }
}

.heroTitlePrimaryButton,
.heroTitleSecondaryButton {
    color: white;
    border: 1px solid black;
    border-radius: 48px;
    font-size: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    align-self: flex-start;
    padding: 24px 36px;

    @media (width < 768px) {
        font-size: 26px;
    }
    @media (width < 480px) {
        font-size: 20px;
    }
}

.heroTitlePrimaryButton,
.heroTitleSecondaryButton:hover {
    color: white;
    background: black;
}

.heroTitleSecondaryButton,
.heroTitlePrimaryButton:hover {
    color: black;
    background: transparent;
}
.pricing {
    background-color: white;
    padding: 24px;
}

.pricingTitle {
    font-size: 40px;
    font-weight: 800;
    text-align: center;
}

.pricingCards {
    display: flex;
    padding: 32px;
    gap: 20px;
    justify-content: center;
    align-items: center;

    @media (width < 1024px) {
        padding: 16px;
    }
    @media (width < 768px) {
        flex-direction: column;
    }
}

.pricingCard {
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: box-shadow 0.3s;
    padding: 16px;
    padding-bottom: 32px;
    width: 300px;
}

.pricingPlanOverview {
    display: flex;
    flex-direction: column;
    padding: 12px;
    gap: 12px;
    align-items: center;
    border-bottom: 1px solid #ebebeb;
    margin-bottom: 12px;
}

.pricingHeaderTitle {
    font-size: 20px;
    font-weight: 500;
}

.pricingHeaderCost {
    font-size: 36px;
    font-weight: 600;
}

.pricingHeaderDescription {
    font-size: 14px;
    text-wrap: pretty;
    text-align: center;
    color: #969696;

    @media (width <= 768px) {
        font-size: 24px;
    }
}

.pricingPlanFeatures {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    padding-left: 0px;
    margin-bottom: 20px;
}

.pricingFeature {
    display: flex;
    font-size: 14px;
    column-gap: 6px;
    align-items: center;
}

.pricingImage {
    width: 20px;
    height: 20px;
}

.pricingButton {
    display: block;
    margin: 0 auto;
    padding: 12px 24px;
    color: white;
    background-color: #615047;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease-out;
    font-size: 18px;
}

.pricingButton:hover {
    background-color: #848484;
}

.pricingCard:hover {
    box-shadow: 0 3px 38px rgba(0, 0, 0, 0.3);
}
.about {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 16px;
    margin: 48px;
    @media (width < 768px) {
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 1fr 1fr 0.5fr 1fr;
    }

    @media (width < 480px) {
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr;
        margin: 20px;
    }
}

.aboutImage {
    height: 100%;
    border-radius: 12px;
}

.aboutTitleText {
    background-color: #e0e5fc;
    font-size: 60px;
    font-weight: 700;
    grid-column: 2 / 4;
    border-radius: 12px;
    text-align: center;
    align-content: center;
    padding: 36px;

    @media (width < 480px) {
        grid-column: 1 / 1;
        font-size: 20px;
    }
}

.aboutSubtitleText {
    text-align: center;
    align-content: center;
    border-radius: 12px;
    background-color: #615047;
    font-size: 24px;
    text-align: center;
    padding: 20px;
    margin: 0;
}

.aboutContentText {
    width: 100%;
    background-color: #615047;
    border-radius: 12px;
    align-content: center;
    line-height: 28px;
    padding: 20px;
    color: var(--white);
    font-size: 28px;
    @media (width < 768px) {
        grid-column: 2 / 4;
    }
    @media (width < 480px) {
        grid-row: 4;
        grid-column: 1;
    }
}

.aboutButtonCell {
    display: flex;
    padding: 20px;
    background-color: #615047;
    border-radius: 12px;
    justify-content: center;
    align-items: center;

    @media (width < 768px) {
        grid-row: 3 / 4;
        grid-column: 1 / 4;
    }
    @media (width < 480px) {
        grid-row: 5;
        grid-column: 1;
    }
}

.aboutButton {
    padding: 16px 26px;
    border: 1px solid black;
    border-radius: 32px;
    background-color: var(--white);
    font-size: 22px;
}

.aboutButton:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}
.aboutSecondImage {
    grid-column: 1 / 4;
    max-height: 160px;
    border-radius: 12px;
    object-fit: cover;
    width: 100%;

    @media (width < 768px) {
        grid-row: 4 / 4;
        grid-column: 1 / 4;
    }
    @media (width < 480px) {
        grid-row: 6;
        grid-column: 1;
    }
}
.header1 {
    padding: 40px;
    font-family: Verdana, sans-serif;
    color: var(--white);
    background-color: #615047;
}
.header2 {
    font-family: Georgia, serif;
    color: #615047;
    text-shadow: 6.18px -3.29px 2px var(--secondary);
    text-decoration-color: #615047;
    box-shadow: 6.91px 1.12px var(--secondary);
}
.header3 {
    text-shadow: 7.25px 3.38px var(--white);
    color: var(--black);
}
.video1 {
    float: inherit;
    position: sticky;
}
